.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    flex: 1;
    color: color.adjust($suva-grey, $lightness: -50%);
    text-align: end;
  }

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    border-bottom: $border-steam;
    padding: 9px 0;
    color: $nero;
    font-weight: $fw-medium;
    font-size: $fs-text-m;
    line-height: $lh-100;

    &:focus-within {
      border-bottom: $border-blue;
      .input-container__input {
        color: $nero;
      }
    }
  }
  &:last-child &__label {
    border-bottom: none;
  }

  &__error {
    display: none;
    align-self: start;
    width: 100%;
    margin: 6px 0 0;
    padding: 0;
    color: $vermilion;
    font-size: 8px;
    line-height: 8px;
  }

  &[data-error='true'] &__label {
    border-bottom: $border-error;
  }
  &[data-error='true'] &__error {
    display: block;
  }
}
