// @import '../../../assets/styles/index.scss';
@import './src/assets/styles/index.scss';

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 310px;
  height: 100vh;
  border-right: $border-steam;
  background-color: $snow;
}
