{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": [
    "prettier-plugin-hbs",
    "ember-template-lint-plugin-prettier"
  ]
}