{
  "singleQuote": true,
  "semi": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "**/*.{hbs}",
      "options": {
        "singleQuote": false,
        "parser": "glimmer"
      }
    }
  ],
  "plugins": ["prettier-plugin-hbs", "ember-template-lint-plugin-prettier"]
}
