<div class="page__modal modal">
  <h2 class="modal__title">
    {{title}}
  </h2>
  <form class="modal__form form" name="{{formName}}">
    <div class="form__inputs">
      {{#each inputsList}}
        {{> input}}
      {{/each}}
    </div>
    <div class="form__inputs">
      {{> button button}}
      {{> link link}}
    </div>
  </form>
</div>
