<div class="page">
  <dib class="page__profile profile">
    <nav class="profile__nav">
      <a {{! type="buton"  }} href="/" target="_self">⬅️</a>
    </nav>
    <section class="profile__container">
      <div class="profile__avatar-wrapper">
        <img src="" class="profile__avatar" />
      </div>
      <h1>title</h1>
      <div class="profile__info-wrapper">
        <form>
          
        </form>
      </div>

    </section>
  </dib>
</div>