@import './src/assets/styles/vars';

.profile__link-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: $border-steam;
  padding: 9px 0;

  &:last-child {
    border-bottom: none;
  }

  .profile__link {
    width: fit-content;
    font-weight: $fw-medium;
    font-size: $fs-text-m;
    line-height: $lh-100;
    transition: color 0.2s;
    cursor: pointer;

    &_neutral {
      color: $royal_blue;
      &:hover {
        color: darken($royal_blue, 20);
      }
    }

    &_negative {
      color: $vermilion;
      &:hover {
        color: darken($vermilion, 20);
      }
    }

    &:hover {
      transition: color 0.2s;
    }
  }
}
