{{#extend "center"}}
  {{#content "content"}}
    <div class="page__error error">
      <div class="error__wrapper">
        <h1 class="error__title">
          {{title}}
        </h1>
        <p class="error__text">{{text}}</p>
      </div>
      {{> link text="Назад к чатам" url="/chats"}}
    </div>
  {{/content}}
{{/extend}}