.button-transparent {
  width: fit-content;
  margin: 0 auto;
  border: none;
  padding: 0;
  color: $royal-blue;
  font-weight: $fw-medium;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: color.adjust($royal-blue, $lightness: -15%);
    transition: all 0.2s;
  }

  &:disabled {
    background-color: $tangled-web;
  }

  &:focus {
    outline: solid 2px $royal-blue;
    outline-offset: 2px;
    border-radius: 4px;
  }
}
