<div class='home'>
  <h1 class='home__title'>Home</h1>
  <nav>
    <ul class='home__naw-list'>
      {{#each links}}
        <li>
          <a class='home__link' href='{{url}}'>{{name}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>