@import './src/assets/styles/index.scss';

.chat__footer {
  border-top: $border-steam;
  padding: 10px 0;
}

.chat__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.chat__textarea {
  width: 100%;
  height: max-content;
  border: none;
  border-radius: $radius-l;
  padding: 8px 15px;
  vertical-align: middle;
  color: $nero;
  font-size: 12px;
  line-height: 15px;
  background-color: $gallery;
  resize: none;

  &::placeholder {
    color: $light-gray;
  }
}
