{{#extend "sidebar"}}
  {{#content "content"}}

    <div class="sidebar__header">
      <a href="/profile" class="sidebar__link_profile"><span
          class="sidebar__link-text"
        >Профиль</span>
        <object type="image/svg+xml" data="{{arrowSVG}}"></object>
      </a>
      <form class="sidebar__search">
        <input
          type="search"
          class="sidebar__search-input"
          placeholder="Поиск"
          name="chat-search"
          id="chat-search"
          value=""
        />
      </form>
    </div>
    <div class="sidebar__chats chats">
      <div class="sidebar__line"></div>
      <ul class="chats__list">
        {{#each chats}}
          <li>
            {{! Блок с карточкой чата }}
              {{> chatCard}}
            <div class="sidebar__line"></div>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/content}}

{{/extend}}