{{#extend "sidebar"}}
  {{#content "content"}}

    <div class="sidebar__header">
      <a href="/profile" class="sidebar__link_profile"><span
          class="sidebar__link-text"
        >Профиль</span>
        {{! Вынести svg }}
        <svg
          width="6"
          height="9"
          viewBox="0 0 6 9"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 8.5L5 4.5L1 0.5" stroke="#999999" />
        </svg>
      </a>
      <form class="sidebar__search">
        <input
          type="search"
          class="sidebar__search-input"
          placeholder="Поиск"
          name="chat-search"
          id="chat-search"
          value=""
        />
      </form>
    </div>
    <div class="sidebar__chats chats">
      <div class="sidebar__line"></div>
      <ul class="chats__list">
        {{#each chats}}
          <li>
            {{! Блок с карточкой чата }}
              {{> chatCard}}
            <div class="sidebar__line"></div>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/content}}

{{/extend}}