{{#extend "rows"}}
  {{#content "row"}}
    {{#extend "sidebar"}}
      {{#content "content"}}
        {{> back}}
      {{/content}}
    {{/extend}}
    <section class="profile">
      <div class="profile__container">
        <div class="profile__top">
          <div class="profile__avatar-wrapper">
            <img class="profile__avatar" src="../../assets/images/avatar.svg" />
          </div>
          <h1 class="profile__title">Иван</h1>
        </div>
        <form class="profile__form">
          <fieldset disabled>
            {{#each inputs}}
              {{> profileInput}}
            {{/each}}
          </fieldset>
          {{! тут будет кнопка}}
        </form>
        <div >
          {{#each links}}
            {{> profileLink}}
          {{/each}}
        </div>
      </div>
    </section>
  {{/content}}
{{/extend}}