<form name="message-form" class="chat__form" novalidate>
	{{{ mediaButton }}}
  <textarea
    autocomplete="off"
    name="message"
    placeholder="Сообщение"
    class="chat__textarea"
    rows="1"
    required
  ></textarea>
  <button type="submit" class="chat__button" id="submit-button" disabled>
    {{! Позже вынести }}
    <svg
      width="30"
      height="22"
      viewBox="0 0 30 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M28.8688 0.520273L1.48476 6.24726C1.11024 6.32553 0.768997 6.51562 0.507069 6.79188C0.24514 7.06815 0.0751371 7.4173 0.02 7.79221C-0.0351372 8.16711 0.0272456 8.54974 0.19873 8.88845C0.370215 9.22716 0.642547 9.50566 0.978978 9.68635L6.94968 12.8945L8.05616 21.6868C8.0761 21.8452 8.13698 21.9958 8.23293 22.1241C8.32888 22.2524 8.45665 22.3541 8.60389 22.4192C8.75114 22.4844 8.91287 22.5108 9.07345 22.496C9.23404 22.4812 9.38805 22.4256 9.5206 22.3347L15.4982 18.2329L19.9506 21.3206C20.1839 21.4824 20.4514 21.5894 20.7328 21.6332C21.0142 21.6771 21.3021 21.6568 21.5743 21.5739C21.8466 21.4909 22.0961 21.3475 22.3039 21.1546C22.5116 20.9617 22.6722 20.7244 22.7732 20.4607L29.9392 1.7569C29.9989 1.60113 30.0151 1.43234 29.9861 1.26824C29.9572 1.10414 29.8841 0.950787 29.7746 0.824271C29.6651 0.697755 29.5233 0.602745 29.3639 0.549214C29.2045 0.495684 29.0335 0.485838 28.8688 0.520273ZM24.3554 3.36097L7.8604 11.272L1.88384 8.06059L24.3554 3.36097ZM11.3715 13.9005C11.24 14.001 11.1379 14.1342 11.0756 14.2866L9.49898 18.137L8.8357 12.8664L19.2834 7.85569L11.3715 13.9005ZM11.1997 18.9242L12.3709 16.0642L13.8615 17.098L11.1997 18.9242ZM21.022 19.7976L13.526 14.5989L26.9406 4.34984L21.022 19.7976Z"
        fill="#999999"
      />
    </svg>
  </button>
</form>
