<form name="message-form" class="chat__form" novalidate>
  <button type="button" class="chat__button">
    {{! Позже вынести }}
    <svg
      width="20"
      height="23"
      viewBox="0 0 20 23"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.50562 22.5C4.1573 22.5 2.92135 21.95 1.91011 21.07C0.898876 20.19 0.449438 18.87 0.449438 17.55C0.449438 16.23 1.01124 15.02 1.91011 14.03L10.8989 5.23C12.0225 4.13 14.0449 4.13 15.2809 5.23C16.5169 6.44 16.5169 8.31 15.2809 9.52L7.52809 17.11C7.07865 17.55 6.40449 17.55 5.95506 17.11C5.50562 16.67 5.50562 16.01 5.95506 15.57L13.7079 7.98C14.0449 7.65 14.0449 7.1 13.7079 6.88C13.3708 6.55 12.809 6.55 12.4719 6.88L3.48315 15.68C2.92135 16.23 2.69663 16.89 2.69663 17.66C2.69663 18.43 3.03371 19.09 3.48315 19.64C4.49438 20.63 6.4045 20.63 7.41573 19.64L16.4045 10.84C17.3034 9.96 17.7528 8.75 17.7528 7.54C17.7528 6.33 17.3034 5.12 16.4045 4.24C15.5056 3.36 14.382 2.7 13.0337 2.7C11.7978 2.7 10.5618 3.14 9.66292 4.02L1.91011 11.61C1.46067 12.05 0.786517 12.05 0.337079 11.61C-0.11236 11.17 -0.11236 10.51 0.337079 10.07L8.08989 2.48C9.4382 1.27 11.236 0.5 13.0337 0.5C14.9438 0.5 16.6292 1.16 17.9775 2.48C19.3258 3.8 20 5.56 20 7.32C20 9.19 19.2135 10.84 17.9775 12.16L8.98876 20.96C8.20225 21.95 6.85393 22.5 5.50562 22.5Z"
        fill="#999999"
      />
    </svg>
  </button>
  <textarea
    autocomplete="off"
    name="message"
    placeholder="Сообщение"
    class="chat__textarea"
    rows="1"
    required
  ></textarea>
  <button type="submit" class="chat__button" id="submit-button" disabled>
    {{! Позже вынести }}
    <svg
      width="30"
      height="22"
      viewBox="0 0 30 22"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M28.8688 0.520273L1.48476 6.24726C1.11024 6.32553 0.768997 6.51562 0.507069 6.79188C0.24514 7.06815 0.0751371 7.4173 0.02 7.79221C-0.0351372 8.16711 0.0272456 8.54974 0.19873 8.88845C0.370215 9.22716 0.642547 9.50566 0.978978 9.68635L6.94968 12.8945L8.05616 21.6868C8.0761 21.8452 8.13698 21.9958 8.23293 22.1241C8.32888 22.2524 8.45665 22.3541 8.60389 22.4192C8.75114 22.4844 8.91287 22.5108 9.07345 22.496C9.23404 22.4812 9.38805 22.4256 9.5206 22.3347L15.4982 18.2329L19.9506 21.3206C20.1839 21.4824 20.4514 21.5894 20.7328 21.6332C21.0142 21.6771 21.3021 21.6568 21.5743 21.5739C21.8466 21.4909 22.0961 21.3475 22.3039 21.1546C22.5116 20.9617 22.6722 20.7244 22.7732 20.4607L29.9392 1.7569C29.9989 1.60113 30.0151 1.43234 29.9861 1.26824C29.9572 1.10414 29.8841 0.950787 29.7746 0.824271C29.6651 0.697755 29.5233 0.602745 29.3639 0.549214C29.2045 0.495684 29.0335 0.485838 28.8688 0.520273ZM24.3554 3.36097L7.8604 11.272L1.88384 8.06059L24.3554 3.36097ZM11.3715 13.9005C11.24 14.001 11.1379 14.1342 11.0756 14.2866L9.49898 18.137L8.8357 12.8664L19.2834 7.85569L11.3715 13.9005ZM11.1997 18.9242L12.3709 16.0642L13.8615 17.098L11.1997 18.9242ZM21.022 19.7976L13.526 14.5989L26.9406 4.34984L21.022 19.7976Z"
        fill="#999999"
      />
    </svg>
  </button>
</form>
