<div class="chat__message aling_start">
  <div class="chat__wrapper">
    <p class="chat__text">{{text}}</p>
      <div class="chat__time-stamp">
        <time class="chat__time" datetime="11:56">11:56</time>{{> checkmark}}
        </div>
  </div>
</div>