$primary: #194eb4;
$secondary: #f2b834;
$success: #4cb514;
$black: #000;
$radius: 12px;
$lineHeight: 100%;

// Константы для размеров шрифтов
$font-size-title-l: 40px;
$font-size-title-m: 20px;
$font-size-title-s: 15px;

$font-size-text-xl: 20px;
$font-size-text-l: 15px;
$font-size-text-m: 13px;
$font-size-text-s: 12px;
$font-size-text-xs: 11px;
