// Radius
$radius-l: 16px;
$radius-m: 12px;
$radius-s: 8px;
$radius-xs: 4px;

// Collors
$light-gray: #999;
$alabaster: #f8f8f8;
$gallery: #efefef;
$steam: #eaeaea;
$tangerine: #f75e25;
$marble-alabaster: #ededf7;
$alice-blue: #e5f2fc;
$nero: #1e1e1e;
$fruit-salad: #47aa37;
$vermilion: #ff3d16;
$royal-blue: #3369f3;
$tangled-web: #b2b2b2;

$shadow: 0 0 4px 0 $tangled-web;

// Константы для размеров шрифтов
$font-size-title-l: 40px;
$font-size-title-m: 20px;
$font-size-title-s: 15px;

$font-size-text-xl: 20px;
$font-size-text-l: 15px;
$font-size-text-m: 13px;
$font-size-text-s: 12px;
$font-size-text-xs: 11px;

$lineHeight: 100%;
