// @import '../../assets/styles/vars';
@import './src/assets/styles/vars';


.form__link {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0;
  color: $royal-blue;
  font-weight: $fw-medium;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: darken($royal-blue, 15%);
    transition: all 0.2s;
  }

  &:disabled {
    background-color: $tangled-web;
  }
}
